
navbar{display: flex;justify-content: space-between;margin-top:20px;}

.a{display: flex;justify-content: center; gap:15px;}

.a img{width: 36px;height: 36px;}

.ul{display: flex;gap:66px;}
.ul li{list-style: none;}

.ul li a{text-decoration: none;font-weight: bold;color:black;}

.a .logo{
font-family: Helvetica;font-weight: 700;font-size: 31.39px;
; text-align:center; list-style:none;}
.a .logo a{text-decoration: none;color:black;}

.right{position:relative;
left:700px;bottom:250px;}

.right img{width:573px;height: 573px;}

.row .left{position:relative;
top:143px;}

.row{display: flex;justify-content: space-around;
align-items: center;padding:20px;margin-top:0px;}

.column{text-align: center;
padding:10px;width:31.33%;border:2px solid black;}

.own-cs{width:100%; !improtant;}

.icon img{display: flex;flex-start;}


.section-4 .column-1{width:33.33%;text-align: center;position: relative;right:50px;margin-top:20px;}


.section-4 .column-2 h1{font-weight: 700;font-size: 60px;width:738px;height: 138px;}

.section-4 .column-2 p{width: 752px;height: 279px;font-weight: 400;font-size: 32px;}
.section-4 .column-2{width:66.66%;text-align: center;position:relative;left:100px;}

.section-5 .hh{text-align: center;}

.section-5 .column-2{width:33.33%;}

.section-5 .column-3{width:33.33%;}
.section-5 .row .column .logo{font-size:50px;font-weight: bold;
display:flex;flex-start;}

.section-6 ul{list-style: none;}
.secction-6 .ull li a{display:block;color:black;text-decoration: none;}